extends _template.pug
include ../components/page/page.pug
include ../components/main-content/main-content.pug
include ../components/ornament/ornament.pug
include ../components/page-header/page-header.pug
include ../components/slider/slider.pug

block content
	+page
		| %=symbols=%

		+main-content
			+page-header(class='__page-header')
			+slider(class='__slider')
			+ornament(class='__ornament')

