include ../icon/icon.pug

mixin page-header(data)
	+b('div').page-header&attributes(attributes)
		+e('a').link(href='/', aria-label='Affinage')&attributes(attributes)
			+icon('a', 22.8, 23.2)
		+e('a').toggler(href='#' aria-label='Toggle navigation')&attributes(attributes)
			+icon('burger', 20, 14)
		+e('h1').logo
			| affinage
		+e('p').slogan
			| очень хороший слоган
		+e('p').title
			| тестовое задание
