.icon {
  $icon: &;

  display: flex;

  &--triangle {
    &#{$icon}--filled {
      --fill: #000;
      --stroke: none;
    }
    &#{$icon}--stroked {
      --fill: none;
      --stroke: #000;
    }
  }
}
