.main-content {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: inherit;
  min-width: $min-width;
  max-width: $max-width;
  min-height: 568px;

  @include margin-x(auto);

  background-color: $primary;
  transition: all 0.5s;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    min-height: 800px;
    background-color: transparent;
  }
}
